/*CSS fixes for legacy*/

/* Below fix is for DI Legacy templates */

.text.cmp-di-text .cmp-text b{
    font-family: Sabon LT Pro,Calibri,sans-serif;
}
/* fix for DI Legacy templates ends here*/

/* Below fix is for DI new Article templates icon issue*/
.cmp-di-share-inline-with-print .cmp-di-share-bar__links.icon-email, 
.cmp-di-share-inline-with-print .cmp-di-share-bar__links.icon-pinterest
{
    background: #1f1f1f;
    color: #fff;
    margin-right: .575em;
    display: inline-flex;
    width: 29.17px;
    height: 29.17px;
    font-size: 1.125em;
    border-radius: 50%;
    align-items: center;
    justify-content: center
}
/* fix is for DI new Article templates icon issue ends here*/

/* hiding search placeholder text */

.cmp-search .cq-texthint-placeholder{
    display: none;
}

